<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="helloBean" class="com.claudio.comun.HelloWorld">
		 <property name="name" value="Claudio" /> 
	</bean>

<!-- Separar archivos en varios modulos o categorias -->
<!-- En Spring 3, la funcionalidad equivalente es @import -->
<!-- 	<import resource="config/customer.xml"/>
        <import resource="config/scheduler.xml"/> -->
</beans>